body {
    margin: 0;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
    text-align: left;
}

h1 {
    font-size: 1.125em;
    padding: 15px 0;
    margin: 5px 15px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.health-item {
    padding: 12px 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.health-item input[type=number]::-webkit-inner-spin-button,
.health-item input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    width: 100%;
}

input,
button {
    color: #ffffff;
    font-size: 1rem;
    padding: 4px 0px 5px;
    border: 0px;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    text-align: right;
}

input[type=number] {
    max-width: 45px;
}

input {
    margin-right: 5px;
    padding-right: 10px;
    max-width: 300px;
    overflow-x: hidden;
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 5px;
}

input:focus {
    outline: none;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    max-height: 10px;
    background-color: rgba(187, 153, 255, 0.16);
    cursor: pointer;
}

button.increment {
    border-radius: 0 5px 0 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

button.decrement {
    border-radius: 0 0 5px 0;
}

button:hover {
    background-color: rgba(187, 153, 255, 0.26);
}

.damage-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.damage-wrapper input {
    margin-right: 0;
    border-radius: 8px 0 0 8px;
    padding: 7px 10px 7px 0;
}

.buttons-wrapper {
    display: flex;
    flex-direction: column;
}

.item-label {
    margin-right: 15px;
}

.health-description {
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
    text-align: left;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    padding: 0 15px 15px;
    color: rgba(255, 255, 255, 0.52);
    font-style: italic;
}